# Ignore all files
*

# Except the plugins directory
!plugins/

# Except our plugins directory
!plugins/articles/
!plugins/articles/**

!plugins/contents/
!plugins/contents/**

!plugins/customers/
!plugins/customers/**

!plugins/features/
!plugins/features/**

!plugins/projects/
!plugins/projects/**

!plugins/services/
!plugins/services/**

!plugins/seeders/
!plugins/seeders/**

!plugins/slider/
!plugins/slider/**

# Except the theme directory
!themes/
!themes/openfs/
!themes/openfs/**

# Except the .gitignore file
!.gitignore